body {
	background: linear-gradient(to right, #9E72A8, #7F488C);
}

h2 {
	font-family: Helvetica;
	font-size: 45px;
	color: #622870;
	margin-top: 17px;
}

h1 {
	font-family: Helvetica;
	font-size: 35px;
	color: #622870;
	margin-top: 20px;
	margin-bottom: -10px;
}

.header {
	height: 80px;
	width: 550px;
	background: radial-gradient(at top, #F2FAA7, #C6D068);
	border-radius: 5px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div p {
	font-family: Verdana;
	font-size: 20px;
	margin-bottom: 0px;
	margin-top: 10px;
}

li {
	font-family: Verdana;
	font-size: 20px;
	margin-bottom: 0px;
	margin-top: 10px;
}

.navbar_position {
	margin-left: auto;
	margin-right: auto;
	margin-top: -10px;
	height: auto;
	width: auto;
	text-align: center;
	background: none;
}

.navbar {
	height: 40px;
	width: 150px;
	background: radial-gradient(circle, #F2FAA7, #C6D068);
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
	line-height: 40px;
	display: inline;
	transition: 250ms ease-in;
	margin-left: 3px;
	margin-right: 3px;
}

a {
	font-family: Verdana;
	font-size: 20px;
	color: #622870;
	text-decoration: none;
}

a:hover {
	font-family: Verdana;
	font-size: 22px;
	color: #471054;
}

div {
	font-family: Verdana;
	background: radial-gradient(circle, #F2FAA7, #C6D068);
	height: auto;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	padding: 10px 10px 15px 20px;
	margin-top: 20px;
}

/* de code hieronder zorgt dat alles op 1 pagina kan */

#Home.hidden, #Decimaal_Binair.hidden, #Euro_Dollar.hidden, #Inkomen.hidden, #De_makers.hidden {
  display: none;
}
	
#Home.visible, #Decimaal_Binair.visible, #Euro_Dollar.visible, #Inkomen.visible, #De_makers.visible {
  display: block;
}

.button {
	height: auto;
	width: auto;
	font-size: 15px;
	padding: 5px 5px 5px 5px;
	background: linear-gradient(to bottom, #9E72A8, #7F488C);
	border-radius: 5px;
	text-align: center;
	margin-bottom: 20px;
}

.button:hover {
	font-size: 15px;
	color: black;
	background: linear-gradient(to top, #9E72A8, #7F488C);
}

.selfie {
	width: 250px;
}